<h2 class="TituloLista">
    Listado clientes
  </h2>
  <!-- <select class="cajaDatosTomados" [(ngModel)]="grupos">
    <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
  </select> -->
  <div class="botonesOrden">
    <button class="ordenA" *ngIf="clientes.length" (click)="ordenarA()" >Ordenar Ascendente</button>
    <button class="ordenD"*ngIf="clientes.length" (click)="ordenD()"> ordenar Desendente</button>
  </div>
  <div *ngIf="! clientes.length">No hay clientes por el momento</div>
  <div>
    <article>
      <span><b>Avatar</b></span>
      <span class="a" type="button" (click)="ordenarSegun()"><b>Nombre</b></span>
      <span><b>Cuit</b></span>
      <span><b>Direccion</b></span>
      <span><b>Grupo</b></span>
    </article>
    <article *ngFor="let cliente of clientes" class="EditarCliente" contenteditable="false">
        <span><img class="fotousuario" [src]="cliente.fotoPerfil" alt="Foto de perfil"></span>
        <span>{{cliente.nombre}}</span>
        <span>{{cliente.cuit}}</span>
        <span>{{cliente.direccion}}</span>
        <span>{{cliente.grupo}}</span>
      <button class="botonEliminar" (click)="this.borrarCliente(this.cliente)">X</button>
      <button class="botonEditar" contenteditable="false" (click)="this.editarCliente()">Editar</button>
      <button class="botonEditar" contenteditable="false" (click)="this.guardarCliente()">Guardar</button>
    </article>
    <br/>
    <div class="buscar">
      <article>
        <input type="text" [(ngModel)]="clienteBuscado">
        <button class="botonBuscar" name='result' (click)="botonBuscar()">Buscar</button>
        <br>
      </article>
      <h2>Cliente buscado: </h2>
      <article *ngIf='encontrado >= 0'>
        <span>{{clientes[encontrado].nombre}}</span>
        <span>{{clientes[encontrado].cuit}}</span>
        <span>{{clientes[encontrado].direccion}}</span>
        <span>{{clientes[encontrado].grupo}}</span>
      </article>

      <br>
      
    </div>

  </div>
