<h2 class="TituloLista">
    Listado clientes
  </h2>
  <div class="botonesOrden">
    <button class="ordenA" *ngIf="clientes.length" (click)="ordenarA()" >Ordenar Ascendente</button>
    <button class="ordenD"*ngIf="clientes.length" (click)="ordenD()"> ordenar Desendente</button>
  </div>
  
  <div *ngIf="! clientes.length">No hay clientes por el momento</div>
  <div>
    <article *ngFor="let cliente of clientes">
      <span>{{cliente.nombre}}</span>
      <span>{{cliente.cuit}}</span>
      <span>{{cliente.direccion}}</span>
      <span>{{cliente.grupo}}</span>
      <button class="botonEliminar" (click)="this.borrarCliente(this.cliente)">X</button>
    </article>
    <br/>
  
    <div class="buscar">
      <article>
        <input type="text" [(ngModel)]="buscarCliente">
        <button class="botonBuscar" name='result' (click)="botonBuscar()">Buscar</button>
        <p>{{this.clientes[encontrado] | json}}</p>
      </article>
  
    </div>

  </div>
