.titulo{
    text-align: center;
}
.cajaFormulario{
    display:flex;
    text-align: justify;
    background-color:darksalmon;
    width: max-content;
    height: max-content;
    padding: 3px;
    margin: auto;
    border-radius: 21px;
    border-style: solid;
    font-weight: bold;
    font-style: false;
  

}

.cajaDatosTomados{
    background-color: darkgrey;
}
.botonGuardar{

    margin: 14px;
    display: flex;
    background: rgba(123, 138, 160, 0.973);
    padding: 2px;
    border-radius: 8px;

}
